* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #f1e9e9;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    background-color: aquamarine;
}

nav h1 {
    display: inline-block;
    background-color: transparent;
    font-size: 30px;
    

}

.main-links {
    padding: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.main-links ul {
    list-style-type: none;

}

.main-links ul li {
    display: inline-block;
    padding: 10px;
}

.main-links ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(50, 45, 119);
}

.main-links ul li a:hover {
    box-shadow:0 2px chartreuse;
    transform: scale(2, 1);
    
}

.big-picture {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../assets/images/TH.jpg");
    background-size: cover;
    background-position: center;
}

.big-picture div {
    

}

.big-picture span {
    background-color: transparent;
    transform: rotate(10deg);
    float: right;
    margin-top: 150px;
}


section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(200px, auto);
    padding: 50px 50px;
    
}

section h2 {
    font-size: 40px;
    justify-self: end;
    padding-right: 25px;
    border-right: 0.25em dotted lightblue;

}



section div {
    background-color: transparent;
    
}

section div p {
    justify-self: center;
    padding: 5px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 50px;
    gap: 25px;

}


.grid-container div {
    height: 85px;
    width: 100%;
    justify-self: center;
    opacity: 0.6;
}

.box1 h3, .box2 h3, .box3 h3, .box4 h3 {
    width: 25%;
    color:rgb(15, 15, 34);
    background:seashell;
    opacity: 1;
}

.grid-container div:hover {
    opacity: 1;
    box-shadow: 4px 5px darkcyan;
}

.box1 {
    background-image: url(../assets/images/big-code.jpg);
    
}

.box2 {
    background-image: url(../assets/images/small-code.jpg);
}

.box3 {
    background-image: url(../assets/images/red-code.jpg);
}

.box4 {
    background-image: url(../assets/images/blue-code.jpg);
}

@media screen and (max-width: 1000px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    } 
    
}

