/* Broad page styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #f1e9e9;
}

body {
    margin: 20px auto;
    width: 80%;
}

html {
    scroll-behavior: smooth;
}

/* styles for items in the navbar */
nav {
    font-family: 'Trebuchet MS';
    padding: 20px;
    background-color: aquamarine;
}

/* set text shadow to have two colors make up its borders  */
.name-header {
    display: inline-block;
    color: transparent;
    padding-bottom: 15px;
    text-shadow: 2px 0 rgb(255, 0, 0), 0 -2px rgb(255, 0, 0), -2px 0 rgb(0, 0, 255), 0 2px rgb(0, 0, 255);
    background-color: transparent;
    font-size: 40px;
    
}

.main-links {
    border-radius: 15px;
    display: inline-block;
    padding: 5px 15px;
    float: right;
    font-family: 'Gill Sans';
    
}

.main-links a {
    display: inline-block;
    font-family: sans-serif;
    padding: 0 10px;
    margin: 5px 0;
    text-decoration: none;
    -webkit-text-emphasis: open sesame #8da880;
    -webkit-text-emphasis-position: under;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: lavenderblush;

    font-size: 25px;
    font-weight: bolder;
    color: rgb(66, 66, 66);
}

.main-links a:hover {
    box-shadow:0 2px #FF80CF;
    
}

/* styles for the landing image */

.big-picture {
    display: block;
    position: relative;
    height: 250px;
    
    background-image: url("../assets/images/TH.jpg") ;
    background-size: cover;
    background-position: center;
    
}

.big-picture span {
    position: absolute;
    background-color: transparent;
    transform: rotate(10deg);
    right: 30px;
    top: 30px;
    font-family: cursive;
    font-size: 2em;
    color: #E8E761;
    -webkit-text-stroke-width: thin;
}

/* styles for main content and sections. */

section {
    padding: 50px 50px;
    
}

section div {
    display: inline-block;
    width: 75%;
    padding: 10px 50px;
    border-left: 0.5em dotted lightblue;
}

section h2 {
    display: inline-block;
    width: 20%;
    font-size: 40px;
    text-align: right;
    padding-right: 25px;
    vertical-align: top;
    color: black;
    font-style: italic;
    font-family: sans-serif;
}

.about-paragraph p { 
    padding: 5px 0px;
    font-size: 20px;
    color: rgb(66, 66, 66);
    text-indent: 50px;
}

/* styles for the work-example section. */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.grid-container article {
    position: relative;
    float: right;
    height: 85px;
    width: 100%;
    justify-self: center;
    opacity: 0.6;
}

.box0 h3 {
    position: absolute;
    left: 0px;
    top: 15px;
    white-space: nowrap;
    padding: 5px 50px;
    color:rgb(15, 15, 34);
    background:seashell;
}

.box1 h3, .box2 h3, .box3 h3, .box4 h3 {
    position: absolute;
    white-space: nowrap;
    top: 15px;
    left: 0px;
    padding: 5px 50px;
    color:rgb(15, 15, 34);
    background:seashell;
    
}




.box0 {
    position: relative;
    height: 300px;
    opacity: 0.6;
    margin-bottom: 25px;
    background-image: url(../assets/images/big-code.jpg);
}

.box1 {
    background-image: url(../assets/images/big-code.jpg);
    
}

.box2 {
    background-image: url(../assets/images/small-code.jpg);
}

.box3 {
    background-image: url(../assets/images/red-code.jpg);
}

.box4 {
    background-image: url(../assets/images/blue-code.jpg);
}

.hovereffect:hover {
    opacity: 1;
    box-shadow: 4px 5px darkcyan;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact div{
    border: none;
    padding: 10px 0px;
    display:flex
}


.contact img {
    height: 25px;
    width: 25x;
}

.contact span {
    align-self: center;
    font-size: 12px;
    padding-left: 10px;
}

.burner {
    text-decoration: none;
    text-shadow: .25em .25em #FF80CF;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #b9b5b5;
    height: 15px;
}

footer a, footer span {
    font-size: 8px;
    padding: 0 5px;
}

footer h6 {
    padding-right: 5px;
}





/* media queries setting breakpoints for a responsive webpage. */

@media screen and (max-width: 1100px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    } 
    .contact {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 1000px) {
    .big-picture {
        height: 0;
    }

@media screen and (max-width: 1000px) {
    section div, section p {
        display: block;
    }
    .about-paragraph p {
        font-size: 18px;
    }
}

@media screen and (max-width: 760px) {
    .main-links a {
        font-size: 15px;
    }
    .big-picture span {
        font-size: 1em;
    }
}

@media screen and (max-width: 535px) {
    .main-links a {
        font-size: 10px;
        padding: 3px 9px;
    }

    
}

