* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #f1e9e9;
}

body {
    margin: 20px auto;
    width: 80%;
}

html {
    scroll-behavior: smooth;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    background-color: aquamarine;
}

nav h1 {
    display: inline-block;
    color:transparent;
    padding-bottom: 15px;
    text-shadow: 2px 0 rgb(255, 0, 0), 0 -2px rgb(255, 0, 0), -2px 0 rgb(0, 0, 255), 0 2px rgb(0, 0, 255);
    background-color: transparent;
    font-size: 40px;
    

}

.main-links {
    border-radius: 15px;
    
    display: inline;
    padding: 5px 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.main-links ul {
    list-style-type: none;

}

.main-links ul li {
    display: inline-block;
    padding: 10px;
}

.main-links ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(66, 66, 66);
}

.main-links ul li a:hover {
    box-shadow:0 2px chartreuse;
    transform: scale(2, 1);
    
}

.big-picture {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../assets/images/TH.jpg");
    background-size: cover;
    background-position: center;
    z-index: -2;
}



.big-picture span {
    background-color: transparent;
    transform: rotate(10deg);
    float: right;
    font-family: cursive;
    font-size: 2em;
    margin-top: 150px;
    margin-right: 7em;
}


section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(200px, auto);
    padding: 50px 50px;
    
}

section h2 {
    font-size: 40px;
    justify-self: end;
    padding-right: 25px;
    border-right: 0.25em dotted lightblue;

}



section div {
    background-color: transparent;
    
}

section div p {
    justify-self: center;
    padding: 5px 50px;
}

.contact span {
    display: block;
    justify-self: center;
    padding: 5px 50px;
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 50px;
    gap: 25px;

}


.grid-container div {
    height: 85px;
    width: 100%;
    justify-self: center;
    opacity: 0.6;
}

.box1 h3, .box2 h3, .box3 h3, .box4 h3 {
    width: 25%;
    padding: 5px;
    color:rgb(15, 15, 34);
    background:seashell;
    opacity: 1;
}

.grid-container div:hover {
    opacity: 1;
    box-shadow: 4px 5px darkcyan;
}

.box0 {
    background-image: url(../assets/images/big-code.jpg);
    display: inline-block;
    width: 50%;
    
}

.box1 {
    background-image: url(../assets/images/big-code.jpg);
    
}

.box2 {
    background-image: url(../assets/images/small-code.jpg);
}

.box3 {
    background-image: url(../assets/images/red-code.jpg);
}

.box4 {
    background-image: url(../assets/images/blue-code.jpg);
}

@media screen and (max-width: 1000px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    } 
    
}

@media screen and (max-width: 760px) {
    .main-links ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 535px) {
    .main-links ul li a {
        font-size: 10px;
    }

    .big-picture span {
        font-size: 1em;
    }
}

